@media (min-width:568px) {

    .sm\:cui-button--normal {
        height: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }


    .sm\:max-w-none {
        max-width: none;
    }

    .sm\:w-20 {
        width: 5rem;
    }

    .sm\:w-auto {
        width: auto;
    }


    .sm\:w-1\/2 {
        width: 50%;
    }

    .sm\:w-1\/3 {
        width: 33.333333%;
    }


    .sm\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .sm\:-mx-4 {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .sm\:-mx-8 {
        margin-left: -2rem;
        margin-right: -2rem;
    }

    .sm\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .sm\:hidden {
        display: none;
    }

    .sm\:text-sm {
        font-size: .813rem;
    }

    .sm\:text-md {
        font-size: 1rem;
    }

    .sm\:text-2xl {
        font-size: 1.5rem;
    }

    .sm\:mr-1 {
        margin-right: 0.25rem;
    }

    .sm\:flex-none {
        flex: none;
    }

    .sm\:flex {
        display: flex;
    }

    .container {
        padding: 0 2rem;
    }

    .sm\:justify-between {
        justify-content: space-between;
    }

    sm\:space-x-2 > :not(template) ~ :not(template) {
        --space-x-reverse: 0;
        margin-right: calc(0.5rem*var(--space-x-reverse));
        margin-left: calc(0.5rem*(1 - var(--space-x-reverse)));

    }

    .sm\:space-y-10 > :not(template) ~ :not(template) {
        --space-y-reverse: 0;
        margin-top: calc(2.5rem*(1 - var(--space-y-reverse)));
        margin-bottom: calc(2.5rem*var(--space-y-reverse))
    }

    .sm\:space-y-10 > :not(template) ~ :not(template) {
        --space-y-reverse: 0;
        margin-top: calc(2.5rem*(1 - var(--space-y-reverse)));
        margin-bottom: calc(2.5rem*var(--space-y-reverse))
    }

}

@media (min-width: 768px) {

    .md\:w-1\/2 {
        width: 50%;
    }

    .md\:w-1\/3 {
        width: 33.333333%;
    }


    .md\:text-sm {
        font-size: .813rem;
    }

    .md\:text-xs {
        font-size: .75rem;
    }

    .md\:w-2\/5 {
        width: 40%;
    }

    .md\:w-full {
        width: 100%;
    }

    .md\:flex-wrap {
        flex-wrap: wrap;
    }

    .md\:text-base {
        font-size: .875rem;
    }

    .md\:p-5 {
        padding: 1.25rem;
    }

    .md\:px-12 {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .md\:w-auto {
        width: auto;
    }

    .md\:flex-row {
        flex-direction: row;
    }

    .md\:text-3xl {
        font-size: 2rem;
    }

    .md\:pb-14 {
        padding-bottom: 3.5rem;
    }

    .md\:pt-24 {
        padding-top: 6rem;
    }

    .md\:mr-8 {
        margin-right: 2rem;
    }

    .md\:h-14 {
        height: 3.5rem;
    }

    .md\:space-x-3 > :not(template) ~ :not(template) {
        --space-x-reverse: 0;
        margin-right: calc(0.75rem*var(--space-x-reverse));
        margin-left: calc(0.75rem*(1 - var(--space-x-reverse)));
    }

    .md\:block {
        display: block;
    }

    .md\:-mb-px {
        margin-bottom: -1px;
    }

    .md\:border-b-0 {
        border-bottom-width: 0;
    }

    .md\:rounded-b-none {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

}


@media (min-width:1024px) {

    .lg\:cui-button--small {
        height: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: .75rem;
    }

    .lg\:z-0 {
        z-index: 0;
    }

    .lg\:pb-20 {
        padding-bottom: 5rem;
    }

    .lg\:pb-16 {
        padding-bottom: 4rem;
    }

    .lg\:pt-28 {
        padding-top: 7rem;
    }

    .lg\:px-3 {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .lg\:py-3 {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .lg\:p-0 {
        padding: 0;
    }

    .lg\:rounded-none {
        border-radius: 0;
    }

    .lg\:m-0 {
        margin: 0;
    }

    .lg\:border-b-0 {
        border-bottom-width: 0;
    }

    .lg\:mr-1 {
        margin-right: 0.25rem;
    }

    .lg\:overflow-y-visible {
        overflow-y: visible;
    }

    .lg\:p-2 {
        padding: 0.5rem;
    }

    .lg\:flex {
        display: flex;
    }

    .lg\:shadow-none {
        box-shadow: none;
    }

    .lg\:border-0 {
        border-width: 0;
    }

    .lg\:pt-0 {
        padding-top: 0;
    }

    .lg\:h-auto {
        height: auto;
    }

    .lg\:block {
        display: block;
    }

    .lg\:mx-0 {
        margin-left: 0;
        margin-right: 0;
    }

    .lg\:justify-start {
        justify-content: flex-start;
    }

    .lg\:space-x-3 > :not(template) ~ :not(template) {
        --space-x-reverse: 0;
        margin-right: calc(0.75rem*var(--space-x-reverse));
        margin-left: calc(0.75rem*(1 - var(--space-x-reverse)));
    }

    .lg\:space-y-0 > :not(template) ~ :not(template) {
        --space-y-reverse: 0;
        margin-top: calc(0px*(1 - var(--space-y-reverse)));
        margin-bottom: calc(0px*var(--space-y-reverse));
    }

    .lg\:w-40 {
        width: 7.5rem
    }

    .lg\:py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .lg\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .lg\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .lg\:inset-auto {
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }

    .lg\:relative {
        position: relative;
    }

    .lg\:text-sm {
        font-size: .813rem;
    }

    .lg\:justify-between {
        justify-content: space-between;
    }

    .lg\:px-16 {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .lg\:text-left {
        text-align: left;
    }

    .lg\:mb-0 {
        margin-bottom: 0;
    }

    .lg\:text-3xl {
        font-size: 2rem;
    }

    .lg\:items-start {
        align-items: flex-start;
    }

    .lg\:w-auto {
        width: auto;
    }





    .lg\:cui-button--large {
        height: 3.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1rem
    }

    .cui-button--large.lg\:cui-button--action {
        width: 3.5rem
    }

    .lg\:cui-button--medium {
        height: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .cui-button--medium.lg\:cui-button--action {
        width: 3rem
    }

    .lg\:cui-button--normal {
        height: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .cui-button--normal.lg\:cui-button--action {
        width: 2.5rem
    }

    .lg\:cui-button--small {
        height: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: .75rem
    }

    .cui-button--small.lg\:cui-button--action {
        width: 2rem
    }

    .lg\:cui-button--tiny {
        height: 1.5rem;
        padding-left: .5rem;
        padding-right: .5rem;
        font-size: .75rem
    }

    .cui-button--tiny.lg\:cui-button--action {
        width: 1.5rem
    }

    .lg\:cui-button--fit {
        width: 100%
    }

    .lg\:cui-button--action {
        padding-left: 0;
        padding-right: 0
    }

    .lg\:space-y-0 > :not(template) ~ :not(template) {
        --space-y-reverse: 0;
        margin-top: calc(0px*(1 - var(--space-y-reverse)));
        margin-bottom: calc(0px*var(--space-y-reverse))
    }

    .lg\:space-y-2 > :not(template) ~ :not(template) {
        --space-y-reverse: 0;
        margin-top: calc(0.5rem*(1 - var(--space-y-reverse)));
        margin-bottom: calc(0.5rem*var(--space-y-reverse))
    }

    .lg\:space-x-3 > :not(template) ~ :not(template) {
        --space-x-reverse: 0;
        margin-right: calc(0.75rem*var(--space-x-reverse));
        margin-left: calc(0.75rem*(1 - var(--space-x-reverse)));
    }

    .lg\:space-y-reverse > :not(template) ~ :not(template) {
        --space-y-reverse: 1
    }

    .lg\:bg-white {
        --bg-opacity: 1;
        background-color: #fff;
        background-color: rgba(255, 255, 255, var(--bg-opacity))
    }

    .lg\:bg-snow-l3,
    .lg\:hover\:bg-snow-l3:hover {
        --bg-opacity: 1;
        background-color: #f7f8f9;
        background-color: rgba(247, 248, 249, var(--bg-opacity))
    }

    .lg\:rounded-none {
        border-radius: 0
    }

    .lg\:rounded-sm {
        border-radius: 4px
    }

    .lg\:rounded-b-none {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0
    }

    .lg\:rounded-b {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px
    }

    .lg\:border-0 {
        border-width: 0
    }

    .lg\:border {
        border-width: 1px
    }

    .lg\:border-t-0 {
        border-top-width: 0
    }

    .lg\:border-r-0 {
        border-right-width: 0
    }

    .lg\:border-b-0 {
        border-bottom-width: 0
    }

    .lg\:border-t {
        border-top-width: 1px
    }

    .lg\:border-r {
        border-right-width: 1px
    }

    .lg\:border-b {
        border-bottom-width: 1px
    }

    .lg\:block {
        display: block
    }

    .lg\:inline-block {
        display: inline-block
    }

    .lg\:flex {
        display: flex
    }

    .lg\:hidden {
        display: none
    }

    .lg\:flex-row {
        flex-direction: row
    }

    .lg\:flex-row-reverse {
        flex-direction: row-reverse
    }

    .lg\:flex-col {
        flex-direction: column
    }

    .lg\:flex-no-wrap {
        flex-wrap: nowrap
    }

    .lg\:items-start {
        align-items: flex-start
    }

    .lg\:items-center {
        align-items: center
    }

    .lg\:justify-start {
        justify-content: flex-start
    }

    .lg\:justify-end {
        justify-content: flex-end
    }

    .lg\:justify-center {
        justify-content: center
    }

    .lg\:justify-between {
        justify-content: space-between
    }

    .lg\:justify-around {
        justify-content: space-around
    }

    .lg\:flex-1 {
        flex: 1 1 0%
    }

    .lg\:flex-none {
        flex: none
    }

    .lg\:flex-grow-0 {
        flex-grow: 0
    }

    .lg\:flex-shrink-0 {
        flex-shrink: 0
    }

    .lg\:order-6 {
        order: 6
    }

    .lg\:order-last {
        order: 9999
    }

    .lg\:order-none {
        order: 0
    }

    .lg\:font-500 {
        font-weight: 500
    }

    .lg\:font-600 {
        font-weight: 600
    }

    .lg\:h-4 {
        height: 1rem
    }

    .lg\:h-14 {
        height: 3.5rem
    }

    .lg\:h-40 {
        height: 10rem
    }

    .lg\:h-auto {
        height: auto
    }

    .lg\:text-2xs {
        font-size: .625rem
    }

    .lg\:text-xs {
        font-size: .75rem
    }

    .lg\:text-sm {
        font-size: .813rem
    }

    .lg\:text-base {
        font-size: .875rem
    }

    .lg\:text-md {
        font-size: 1rem
    }

    .lg\:text-lg {
        font-size: 1.125rem
    }

    .lg\:text-xl {
        font-size: 1.25rem
    }

    .lg\:text-2xl {
        font-size: 1.5rem
    }

    .lg\:text-3xl {
        font-size: 2rem
    }

    .lg\:text-4xl {
        font-size: 2.5rem
    }

    .lg\:text-5xl {
        font-size: 3rem
    }

    .lg\:leading-normal {
        line-height: 1.5
    }

    .lg\:m-0 {
        margin: 0
    }

    .lg\:-m-8 {
        margin: -2rem
    }

    .lg\:my-0 {
        margin-top: 0;
        margin-bottom: 0
    }

    .lg\:mx-0 {
        margin-left: 0;
        margin-right: 0
    }

    .lg\:my-20 {
        margin-top: 5rem;
        margin-bottom: 5rem
    }

    .lg\:-mx-2 {
        margin-left: -.5rem;
        margin-right: -.5rem
    }

    .lg\:-mx-5 {
        margin-left: -1.25rem;
        margin-right: -1.25rem
    }

    .lg\:-mx-10 {
        margin-left: -2.5rem;
        margin-right: -2.5rem
    }

    .lg\:mt-0 {
        margin-top: 0
    }

    .lg\:mb-0 {
        margin-bottom: 0
    }

    .lg\:ml-0 {
        margin-left: 0
    }

    .lg\:mr-1 {
        margin-right: .25rem
    }

    .lg\:ml-2 {
        margin-left: .5rem
    }

    .lg\:mt-3 {
        margin-top: .75rem
    }

    .lg\:mr-5 {
        margin-right: 1.25rem
    }

    .lg\:mt-6 {
        margin-top: 1.5rem
    }

    .lg\:mt-8 {
        margin-top: 2rem
    }

    .lg\:mt-10 {
        margin-top: 2.5rem
    }

    .lg\:mb-10 {
        margin-bottom: 2.5rem
    }

    .lg\:mt-14 {
        margin-top: 3.5rem
    }

    .lg\:mt-16 {
        margin-top: 4rem
    }

    .lg\:mb-16 {
        margin-bottom: 4rem
    }

    .lg\:mb-18 {
        margin-bottom: 4.5rem
    }

    .lg\:mt-20 {
        margin-top: 5rem
    }

    .lg\:mb-20 {
        margin-bottom: 5rem
    }

    .lg\:-mb-8 {
        margin-bottom: -2rem
    }

    .lg\:-mt-16 {
        margin-top: -4rem
    }

    .lg\:-mb-px {
        margin-bottom: -1px
    }

    .lg\:max-w-none {
        max-width: none
    }

    .lg\:max-w-md {
        max-width: 28rem
    }

    .lg\:max-w-full {
        max-width: 100%
    }

    .lg\:opacity-25 {
        opacity: .25
    }

    .lg\:opacity-100 {
        opacity: 1
    }

    .lg\:overflow-y-visible {
        overflow-y: visible
    }

    .lg\:p-0 {
        padding: 0
    }

    .lg\:p-2 {
        padding: .5rem
    }

    .lg\:p-6 {
        padding: 1.5rem
    }

    .lg\:p-8 {
        padding: 2rem
    }

    .lg\:py-0 {
        padding-top: 0;
        padding-bottom: 0
    }


    .lg\:py-2 {
        padding-top: .5rem;
        padding-bottom: .5rem
    }

    .lg\:px-2 {
        padding-left: .5rem;
        padding-right: .5rem
    }

    .lg\:py-3 {
        padding-top: .75rem;
        padding-bottom: .75rem
    }

    .lg\:px-3 {
        padding-left: .75rem;
        padding-right: .75rem
    }

    .lg\:py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem
    }

    .lg\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem
    }

    .lg\:px-5 {
        padding-left: 1.25rem;
        padding-right: 1.25rem
    }

    .lg\:py-6-logo {
        padding-top: 0.5rem;
        padding-bottom: 1.5rem
    }

    .lg\:py-6 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }

    .lg\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .lg\:py-8 {
        padding-top: 2rem;
        padding-bottom: 2rem
    }

    .lg\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem
    }

    .lg\:px-10 {
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }

    .lg\:px-14 {
        padding-left: 3.5rem;
        padding-right: 3.5rem
    }

    .lg\:py-16 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .lg\:px-16 {
        padding-left: 4rem;
        padding-right: 4rem
    }

    .lg\:py-20 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .lg\:py-24 {
        padding-top: 6rem;
        padding-bottom: 6rem
    }

    .lg\:py-28 {
        padding-top: 7rem;
        padding-bottom: 7rem
    }

    .lg\:pt-0 {
        padding-top: 0
    }

    .lg\:pb-0 {
        padding-bottom: 0
    }

    .lg\:pb-2 {
        padding-bottom: .5rem
    }

    .lg\:pt-3 {
        padding-top: .75rem
    }

    .lg\:pb-3 {
        padding-bottom: .75rem
    }

    .lg\:pt-4 {
        padding-top: 1rem
    }

    .lg\:pl-8 {
        padding-left: 2rem
    }

    .lg\:pt-10 {
        padding-top: 2.5rem
    }

    .lg\:pr-10 {
        padding-right: 2.5rem
    }

    .lg\:pb-10 {
        padding-bottom: 2.5rem
    }

    .lg\:pr-12 {
        padding-right: 3rem
    }

    .lg\:pt-14 {
        padding-top: 3.5rem
    }

    .lg\:pr-16 {
        padding-right: 4rem
    }

    .lg\:pb-16 {
        padding-bottom: 4rem
    }

    .lg\:pt-20 {
        padding-top: 5rem
    }

    .lg\:pr-20 {
        padding-right: 5rem
    }

    .lg\:pb-20 {
        padding-bottom: 5rem
    }

    .lg\:pl-20 {
        padding-left: 5rem
    }

    .lg\:pt-28 {
        padding-top: 7rem
    }

    .lg\:pb-28 {
        padding-bottom: 7rem
    }

    .lg\:pt-px {
        padding-top: 1px
    }

    .lg\:absolute {
        position: absolute
    }

    .lg\:relative {
        position: relative
    }

    .lg\:sticky {
        position: -webkit-sticky;
        position: sticky
    }

    .lg\:inset-auto {
        top: auto;
        right: auto;
        bottom: auto;
        left: auto
    }

    .lg\:shadow-raised {
        box-shadow: 0 2px 1px 0 rgba(64, 64, 64, .05), 0 4px 20px 0 rgba(49, 110, 255, .08)
    }

    .lg\:shadow-poped {
        box-shadow: 0 8px 20px 0 rgba(49, 110, 255, .08)
    }

    .lg\:shadow-none {
        box-shadow: none
    }

    .lg\:text-left {
        text-align: left
    }

    .lg\:text-right {
        text-align: right
    }

    .lg\:w-8 {
        width: 2rem
    }

    .lg\:w-12 {
        width: 3rem
    }

    .lg\:w-20 {
        width: 5rem
    }

    .lg\:w-28 {
        width: 7rem
    }

    .lg\:w-32 {
        width: 8rem
    }

    .lg\:w-40 {
        width: 10rem
    }

    .lg\:w-52 {
        width: 13rem
    }

    .lg\:w-56 {
        width: 14rem
    }

    .lg\:w-96 {
        width: 24rem
    }

    .lg\:w-1\/2 {
        width: 50%
    }

    .lg\:w-1\/3 {
        width: 33.333333%
    }

    .lg\:w-2\/3 {
        width: 66.666667%
    }

    .lg\:w-1\/4 {
        width: 25%
    }

    .lg\:w-3\/4 {
        width: 75%
    }

    .lg\:w-1\/5 {
        width: 20%
    }

    .lg\:w-2\/5 {
        width: 40%
    }

    .lg\:w-3\/5 {
        width: 60%
    }

    .lg\:w-1\/6 {
        width: 16.666667%
    }

    .lg\:w-1\/12 {
        width: 8.333333%
    }

    .lg\:w-2\/12 {
        width: 16.666667%
    }

    .lg\:w-full {
        width: 100%
    }

    .lg\:z-0 {
        z-index: 0
    }

}

@media (min-width: 1280px) {

    .range__slider-wrapper-vds {
        width: 150px;
    }

    .mr-none {
        margin-right: 0;
    }

    .ml-4 {
        margin-left: 1rem
    }

    .xl\:-mx-6 {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

    .xl\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .xl\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .xl\:overflow-x-hidden {
        overflow-x: hidden;
    }

    .xl\:gap-20 {
        grid-gap: 5rem;
        gap: 5rem;
    }


    .xl\:cui-button--large {
        height: 3.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1rem
    }

    .cui-button--large.xl\:cui-button--action {
        width: 3.5rem
    }

    .xl\:cui-button--medium {
        height: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .cui-button--medium.xl\:cui-button--action {
        width: 3rem
    }

    .xl\:cui-button--normal {
        height: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .cui-button--normal.xl\:cui-button--action {
        width: 2.5rem
    }

    .xl\:cui-button--small {
        height: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: .75rem
    }

    .cui-button--small.xl\:cui-button--action {
        width: 2rem
    }

    .xl\:cui-button--tiny {
        height: 1.5rem;
        padding-left: .5rem;
        padding-right: .5rem;
        font-size: .75rem
    }

    .cui-button--tiny.xl\:cui-button--action {
        width: 1.5rem
    }

    .xl\:cui-button--fit {
        width: 100%
    }

    .xl\:cui-button--action {
        padding-left: 0;
        padding-right: 0
    }

    .xl\:space-y-0 > :not(template) ~ :not(template) {
        --space-y-reverse: 0;
        margin-top: calc(0px*(1 - var(--space-y-reverse)));
        margin-bottom: calc(0px*var(--space-y-reverse));
    }

    .xl\:bg-transparent {
        background-color: transparent;
    }

    .xl\:bg-right {
        background-position: 100%;
    }

    .xl\:bg-right-top {
        background-position: 100% 0
    }

    .xl\:rounded-none {
        border-radius: 0
    }

    .xl\:block {
        display: block
    }

    .xl\:inline {
        display: inline
    }

    .xl\:flex {
        display: flex
    }

    .xl\:hidden {
        display: none
    }

    .xl\:flex-row {
        flex-direction: row
    }

    .xl\:flex-col {
        flex-direction: column
    }

    .xl\:flex-no-wrap {
        flex-wrap: nowrap
    }

    .xl\:items-start {
        align-items: flex-start
    }

    .xl\:items-stretch {
        align-items: stretch
    }

    .xl\:justify-center {
        justify-content: center
    }

    .xl\:justify-between {
        justify-content: space-between
    }

    .xl\:flex-1 {
        flex: 1 1 0%
    }

    .xl\:order-none {
        order: 0
    }

    .xl\:font-600 {
        font-weight: 600
    }

    .xl\:h-28 {
        height: 7rem
    }

    .xl\:text-2xs {
        font-size: .625rem
    }

    .xl\:text-xs {
        font-size: .75rem
    }

    .xl\:text-base {
        font-size: .875rem
    }

    .xl\:text-lg {
        font-size: 1.125rem
    }

    .xl\:text-xl {
        font-size: 1.25rem
    }

    .xl\:text-2xl {
        font-size: 1.5rem
    }

    .xl\:text-3xl {
        font-size: 2rem
    }

    .xl\:text-4xl {
        font-size: 2.5rem
    }

    .xl\:m-0 {
        margin: 0
    }

    .xl\:my-5 {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem
    }

    .xl\:my-10 {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem
    }

    .xl\:-mx-3 {
        margin-left: -.75rem;
        margin-right: -.75rem
    }

    .xl\:-mx-8 {
        margin-left: -2rem;
        margin-right: -2rem
    }

    .xl\:mt-4 {
        margin-top: 1rem
    }

    .xl\:mt-6 {
        margin-top: 1.5rem
    }

    .xl\:ml-8 {
        margin-left: 2rem
    }

    .xl\:mt-20 {
        margin-top: 5rem
    }

    .xl\:opacity-75 {
        opacity: .75
    }


    .xl\:p-0 {
        padding: 0
    }

    .xl\:p-3 {
        padding: .75rem
    }

    .xl\:py-0 {
        padding-top: 0;
        padding-bottom: 0
    }

    .xl\:px-2 {
        padding-left: .5rem;
        padding-right: .5rem
    }

    .xl\:px-3 {
        padding-left: .75rem;
        padding-right: .75rem
    }

    .xl\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem
    }

    .xl\:px-5 {
        padding-left: 1.25rem;
        padding-right: 1.25rem
    }

    .xl\:py-6 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }


    .xl\:px-10 {
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }

    .xl\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem
    }

    .xl\:pr-0 {
        padding-right: 0
    }

    .xl\:pb-0 {
        padding-bottom: 0
    }

    .xl\:pt-6 {
        padding-top: 1.5rem
    }
    
    .xl\:pt-6c {
        padding-top: 2.5rem
    }

    .xl\:pr-20 {
        padding-right: 5rem
    }

    .xl\:shadow-poped {
        box-shadow: 0 8px 20px 0 rgba(49, 110, 255, .08)
    }

    .xl\:text-left {
        text-align: left
    }

    .xl\:text-center {
        text-align: center
    }

    .xl\:text-blue-base {
        --text-opacity: 1;
        color: #0054ff;
        color: rgba(0, 84, 255, var(--text-opacity))
    }

    .xl\:w-24 {
        width: 6rem
    }

    .xl\:w-28 {
        width: 7rem
    }

    .xl\:w-32 {
        width: 8rem
    }

    .xl\:w-36 {
        width: 9rem
    }

    .xl\:w-40 {
        width: 10rem
    }

    .xl\:w-44 {
        width: 11rem
    }

    .xl\:w-52 {
        width: 13rem
    }

    .xl\:w-auto {
        width: auto
    }

    .xl\:w-1\/2 {
        width: 50%
    }

    .xl\:w-2\/3 {
        width: 66.666667%
    }

    .xl\:w-1\/4 {
        width: 25%
    }

    .xl\:w-1\/5 {
        width: 17%
    }

    .xl\:w-full {
        width: 100%
    }


}
